

.accordian {
  width: 100%;
  border: 1px solid #24282c;
}

.section-header {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #24282c;
  color: #afafaf;
}

.section-header-active {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #afafaf;
  color: #24282c; */
}


.section-header:hover {
  text-decoration: underline;
  background-color: #45c5ea;
  color: #24282c;
}

.accordian-section {
  display: none;

}

.accordian-section-active {
  display: block;
  border-top: 4px solid #45c5ea;
}