/*accordion by Jonathan Christian @BeYourExcitement - Project is not finished*/

.accordion {
  width: 30%;
  border: 3px solid #24282c;
  border-radius: 6px;
  text-align: center;
}

.section-header {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #24282c;
  color: #afafaf;
}

.section-header-active {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #afafaf;
  color: #24282c;
}

.section-header:hover {
  text-decoration: underline;
  background-color: #45c5ea;
  color: #24282c;
}

.accordion-section {
  display: none;
}

.accordion-section-active {
  display: block;
  border-top: 4px solid #45c5ea;
  padding: 0 8px;
}