/*Carousel by Jonathan Christian @BeYourExcitement - Project is not finished*/

#carousel-container {
  margin: 10px 0;
 text-align: center;
}

.centerpiece-container {
  position: relative;
}

.centerpiece-image-containter {
}

.centerpiece-image {
  position: absolute;
}

.centerpiece-image img {
  visibility: hidden;
}

.centerpiece-image-active {
  visibility: visible;
  position: relative;
}

.centerpiece-image-active img {
  width: 50%;
}

.thumbnail-container {
  width: 60%;
  display: inline-block;
  border-radius: 15px;
  margin-top: 10px;
  background-color: #24282c;
  padding: 8px 0;
}

.thumbnail {
  display: inline-block;
  margin: 0 4px; 
  border: 2px solid #379fbc; 
  border-radius: 12px;
}

.thumbnail img {
  border-radius: 10px;
  margin-bottom: -6px;
}
